body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 30px;
  font-size: 36px;
}

.planets-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.planet-card {
  background-image: url('C:\Users\Mohamed Khalid\OneDrive\Desktop\Aquera Project\my-star-wars-app\public\planets1.jpg'); 
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  color: #fff; 
}


.planet-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.planet-card h2 {
  color: #007bff;
  margin-bottom: 10px;
  font-size: 24px;
}

.planet-card p {
  margin: 10px 0;
  color: #ffffff;
}

.residents-table {
  margin-top: 20px; 
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.residents-table td {
  padding: 8px 16px;
  text-align: center; 
}

.pagination {
  margin-top: 30px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
